<div class="container">
    <md-tabs md-dynamic-height md-border-bottom md-selected="activeTab">
        <md-tab label="General">
            <lp-template-general-tab ng-model="templateToEdit">
            </lp-template-general-tab>
        </md-tab>
        <md-tab label="Hierarchy">
            <lp-template-hierarchy-tab ng-model="template" show-children="showTemplateManagement" enable-template-link="enableTemplateLink">
            </lp-template-hierarchy-tab>
        </md-tab>
        <md-tab label="Usage" ng-if="showTemplateManagement">
            <lp-template-usage-tab ng-model="usage">
            </lp-template-usage-tab>
        </md-tab>
        <md-tab ng-repeat="item in dialogs" label="{{item.label}}">
            <div class="md-padding"
                 js="item.js" html="item.html"
                 scope="dialogScope" locals="dialogLocals"
                 lp-embed></div>
        </md-tab>
        <md-tab label="Delete" ng-if="showTemplateManagement">
            <div class="layout-padding">
                <p>
                    WARNING:
                <div ng-show="template._children.length !== 0">
                    This template has some successors. If this
                    template is deleted those successors will not be visible
                    in the application any more. They will however stay in
                    the application. In such case they have to be deleted
                    manually from the storage directory.
                </div>
                <div ng-hide="!isUsed">
                    This template (or its successor) is used in a pipeline.
                    If this template is deleted the pipeline become invalid.
                </div>
                <div>
                    There is no additional warning dialog, once the delete
                    button is clicked there is no way back.
                </div>
                </p>
                <md-button ng-click="onDelete()">
                    <md-icon md-menu-origin md-svg-icon="delete_forever"
                             class="lp-icon" style="color:red"></md-icon>
                    Delete template
                </md-button>
            </div>
        </md-tab>
    </md-tabs>
</div>
