<div class="container">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="General">
            <lp-template-general-tab ng-model="templateToEdit">
            </lp-template-general-tab>
        </md-tab>
        <md-tab label="Hierarchy">
            <lp-template-hierarchy-tab ng-model="template">
            </lp-template-hierarchy-tab>
        </md-tab>
        <md-tab ng-repeat="item in dialogs" label="{{item.label}}">
            <div class="md-padding"
                 js="item.js" html="item.html"
                 scope="dialogScope" locals="dialogLocals"
                 lp-embed></div>
        </md-tab>
    </md-tabs>
</div>
