/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
	padding-left: 0;
  }
}*/

.bold {
	font-weight: bold ;
}

ul.side-nav li.logo {
    text-align: left;
    font-size: 16pt;
}
nav ul.side-nav a:hover {
	background-color: rgba(0,0,0,0);

}

dt {
	font-weight: bold ;
}
.table-of-contents a.active {
    border-left-color: #ff9800;
}
.table-of-contents a:hover {
    border-left-color: #ff9800;
}
figure {
    margin: 0;
}

code.breakurl {
      word-break: break-all; 
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}