<div class="container">
    <md-content>
        <p>File name:{{file.name}}</p>
        <div ng-hide="uploading">
            <md-input-container>
                <md-button ngf-select ng-model="file" ngf-multiple="false" class="md-raised">Select File</md-button>
            </md-input-container>
            </br>
            <md-button ng-click="onUpload()" class="md-raised md-primary" ng-disabled="!fileReady">Upload</md-button>
        </div>
        <div ng-show="uploading">
            <p>Uploading ...</p>
            <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
        </div>
    </md-content>
</div>