# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Netbeans files.
nbactions.xml
nb-configuration.xml

# IntelliJ IDEA files.
*.iml

# Build directories.
target/
bin/

# Nodejs module directory.
node_modules/
frontend/dist

# Package files.
*.war
*.jar

# All files/directiries starting with dot.
.*
!.travis.yml

# Configuraiton file.
configuration.properties

# Deploy directory.
deploy/configuration.properties
deploy/executor
deploy/executor-monitor
deploy/storage
deploy/frontend
deploy/jar
deploy/osg
data/

# Intellij IDEA
*.iml

# Specific files.
dependency-reduced-pom.xml
