---
layout: default
homepage: true
---
  <div class="container">
    <div class="section" id="index-banner">
      <h2 class="header center orange-text">ETL: Extract Transform Load</h2>
      <div class="row center">
        <h5 class="header col s12 light">Easy to use and integrate ETL for Linked Data</h5>
      </div>
      <div class="row center hide-on-med-and-down">
        <div class="col l3">
			<a href="https://demo.etl.linkedpipes.com"  class="btn-large waves-effect waves-light orange"><i class="material-icons left">ondemand_video</i>Demo</a>
		</div>
        <div class="col l3">
			<a href="./documentation/" class="btn-large waves-effect waves-light orange"><i class="material-icons left">description</i>Read</a>
		</div>
        <div class="col l3">
			<a href="./installation/" class="btn-large waves-effect waves-light orange"><i class="material-icons left">file_download</i>Install</a>
		</div>
        <div class="col l3">
			<a href="https://github.com/linkedpipes/etl" class="btn-large waves-effect waves-light orange"><i class="material-icons left">play_for_work</i>GitHub</a>
		</div>
      </div>
      <div class="row center hide-on-large-only">
        <div class="col s6">
			<a href="https://demo.etl.linkedpipes.com"  class="btn-large waves-effect waves-light orange"><i class="material-icons left">ondemand_video</i>Demo</a>
		</div>
        <div class="col s6">
			<a href="./documentation/" class="btn-large waves-effect waves-light orange"><i class="material-icons left">description</i>Read</a>
		</div>
      </div>
      <div class="row center hide-on-large-only">
        <div class="col s6">
			<a href="./installation/" class="btn-large waves-effect waves-light orange"><i class="material-icons left">file_download</i>Install</a>
		</div>
        <div class="col s6">
			<a href="https://github.com/linkedpipes/etl" class="btn-large waves-effect waves-light orange"><i class="material-icons left">play_for_work</i>GitHub</a>
		</div>
      </div>
    </div>
  </div>

   <div class="container">
      <div class="row">
          <div class="col s12 m12 l8">
              <h3 class="center orange-text">What's new</h3>
               <ul class="collapsible" data-collapsible="accordion">
                {% for post in site.posts limit:1 %}
                <li>
                  <div class="collapsible-header active"><i class="material-icons blue-text">{{ post.icon }}</i>{{ post.date | date: "%Y-%m-%d" }}: <span class=" orange-text">{{ post.title }}</span></div>
                  <div class="collapsible-body">
                    <p class="flow-text">{{ post.excerpt | remove: '<p>' | remove: '<p class="flow-text">' | remove: '</p>' }}</p>
                    {% if post.detail %}
                    <a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">open_in_browser</i>Read more</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
                {% for post in site.posts limit:4 offset:1 %}
                <li>
                  <div class="collapsible-header"><i class="material-icons blue-text">{{ post.icon }}</i>{{ post.date | date: "%Y-%m-%d" }}: <span class="orange-text">{{ post.title }}</span></div>
                  <div class="collapsible-body">
                    <p class="flow-text">{{ post.excerpt | remove: '<p>' | remove: '<p class="flow-text">' | remove: '</p>' }}</p>
                    {% if post.detail %}
                    <a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">open_in_browser</i>Read more</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
               </ul>
               <p class="center"><a href="/tips/" class="btn waves-effect waves-light orange"><i class="material-icons left">lightbulb_outline</i>More Tips &amp; Tricks</a> </p>
          </div>
          <div class="col l4 hide-on-med-and-down">
            <h3 class="center orange-text">Featured component</h3>
            {% assign featured = site.components | where:"short","e-pipelineinput" %}
            {% for component in featured %}
            <div class="card small {{component.color}} lighten-4 hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../assets/components/{{component.short}}.png" alt="{{component.title}}">
                </div>
                <div class="card-content">
                  <span class="card-title">{{component.title}}</span><a href="/components/{{component.short}}" title="{{component.title}}"><i class="material-icons right">open_in_browser</i></a>
                  <p>{{component.description}}</p>
                </div>
                <div class="card-reveal {{component.color}} lighten-4">
                    <span class="card-title grey-text text-darken-4">{{component.title}}<i class="material-icons right">close</i></span>
                    {{component.excerpt}}
                </div>
            </div>
            
            {% else %}
            See all our components
            {% endfor%}
              <p class="center"><a href="/components/" class="btn waves-effect waves-light orange"><i class="material-icons left">extension</i>More components</a></p>
            </div>
     </div>
   </div>

   <div class="container" id="screencast">
    <h3 class="center orange-text">3-minute screencast</h3>
    <div class="row center videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/byf0ItDOBsA" frameborder="0" allowfullscreen></iframe>
    </div>
   </div>
   <div class="container">
      <div class="row">
        <h3 class="center orange-text">Features</h3>
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">view_module</i></h2>
            <h5 class="center">Modular design</h5>

            <p class="light flow-text">Deploy only those components that you actually need. For example, on your pipeline development machine, you need the whole stack, but on your data processing server, you only need the backend part. The data processing options are extensible by <a href="components" title="LP-ETL Components">components</a>. We have a library of the most basic ones. When you need something special, just copy and modify an existing one.</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">http</i></h2>
            <h5 class="center">All functionality covered by REST APIs</h5>

            <p class="light flow-text">Our frontend uses the same APIs which is available to everyone. This means that you can build your own frontend, integrate only parts of our app and control everything easily.</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">share</i></h2>
            <h5 class="center">Almost everything is RDF</h5>

            <p class="light flow-text">Except for our configuration file, everything is in RDF. This includes the ETL pipelines, component configurations and messages indicating the progress of the pipeline. You can generate the pipelines and configurations using SPARQL from your own app. Also, batch modification of configurations is a simple text file operation, no more clicking through every pipeline when migrating.</p>
          </div>
        </div>
      </div>
   </div>
