---
layout: default
---

  <div class="container">
    <div class="section" id="index-banner">
      <h2 class="header center orange-text">ETL: Extract Transform Load</h2>
      <div class="row center">
        <h5 class="header col s12 light">Easy to use and integrate ETL for Linked Data</h5>
      </div>
      <div class="row center">
        <div class="col s6">
			<a href="http://demo.etl.linkedpipes.com"  class="btn-large waves-effect waves-light orange"><i class="material-icons left">ondemand_video</i>Demo</a>
		</div>
        <div class="col s6">
			<a href="https://github.com/linkedpipes/etl" class="btn-large waves-effect waves-light orange"><i class="material-icons left">play_for_work</i>GitHub</a>
		</div>
      </div>
    </div>
  </div>

   <div class="container">
      <div class="row">
          <div class="col s12 m12 l8">
              <h3 class="center orange-text">What's new</h3>
               <ul class="collapsible" data-collapsible="accordion">
                {% for post in site.posts limit:1 %}
                <li>
                  <div class="collapsible-header active"><i class="material-icons blue-text">{{ post.icon }}</i>{{ post.date | date: "%Y-%m-%d" }}: <span class=" orange-text">{{ post.title }}</span></div>
                  <div class="collapsible-body">
                    <p>{{ post.excerpt | remove: '<p class="center">' | remove: '</p>' }}</p>
                    {% if post.detail %}
                    <a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">open_in_browser</i>Read more</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
                {% for post in site.posts limit:4 offset:1 %}
                <li>
                  <div class="collapsible-header"><i class="material-icons blue-text">{{ post.icon }}</i>{{ post.date | date: "%Y-%m-%d" }}: <span class="orange-text">{{ post.title }}</span></div>
                  <div class="collapsible-body">
                    <p>{{ post.excerpt | remove: '<p class="center">' | remove: '</p>' }}</p>
                    {% if post.detail %}
                    <a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">open_in_browser</i>Read more</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
               </ul>
               <a href="/tips/" class="btn waves-effect waves-light orange left"><i class="material-icons left">lightbulb_outline</i>More Tips &amp; Tricks</a> 
          </div>
          <div class="col l4 hide-on-med-and-down">
            <h3 class="center orange-text">Featured component</h3>
              <div class="card small indigo lighten-4 hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../assets/components/t-tabular.png" alt="Tabular">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Tabular<i class="material-icons right">more_vert</i></span>
                  <p>Transforms CSV files to RDF triples.
                </div>
                <div class="card-reveal indigo lighten-4">
                  <span class="card-title grey-text text-darken-4">Tabular<i class="material-icons right">close</i></span>
                  <p>
                    Transformer. Used to transform CSV files to RDF data according to the <a href="https://www.w3.org/TR/csv2rdf/">Generating RDF from Tabular Data on the Web</a> W3C Recommendation.
                    The first set of parameters is there simply do deal with CSV files incompliant with <a href="https://tools.ietf.org/html/rfc4180">RFC 4180</a>, which specifiec a comma as a delimiter, the double-quote as a quote character and UTF-8 as the encoding.
                  </p>
                    <dl>
                        <dt>Delimiter</dt>
                        <dd>Character separating columns in a row</dd>
                        <dt>Quote</dt>
                        <dd>Character used as quote in case the column value contains the column separator</dd>
                        <dt>Encoding</dt>
                        <dd>Encoding of the CSV file</dd>
                    </dl>
                    <p>The second group of parameters deals with the transformation itself.
                    </p>
                    <dl>
                        <dt>Table has header</dt>
                        <dd>Character separating columns in a row</dd>
                        <dt>Trim</dt>
                        <dd>Removes trailing whitespaces from cells</dd>
                        <dt>Default resource IRI template</dt>
                        <dd>An <a href="https://tools.ietf.org/html/rfc6570#section-2">RFC 6570</a> IRI template. E.g. <code>http://ex.org/{COLUMN_WITH_ID}</code></dd>
                        <dt>Rows skip</dt>
                        <dd>Number of rows to be skipped during transformation</dd>
                        <dt>Rows limit</dt>
                        <dd>Number of rows to be processed during transformation</dd>
                        <dt>Output metadata</dt>
                        <dd>When checked, entities for rows and the table are generated. Otherwise, only raw row data is generated</dd>
                        <dt>Generate full mapping</dt>
                        <dd>When checked, uses the default mapping specified by the Recommendation. Otherwise, lets the user specify the mapping manually</dd>
                        <dt>Use IRI base</dt>
                        <dd>When checked, lets the user specify the IRI base for IRIs of rows and properties used to attach column value to the row entity. Otherwise, the IRIs are generated according to the Recommendation, which includes a file name with full path, which is random in LinkedPipes ETL and makes it hard to process the resulting data</dd>
                        <dt>IRI base</dt>
                        <dd>The IRI base for row and property IRIs</dd>
                    </dl>
                <p>
                The advanced row mapping will be documented later. 
                Basically, it allows the user to directly specify output literal data type, language tag or specify that the output value is an IRI.
                In addition, it allows to specify a custom predicate IRI based on column name.
                </p>
                </div>
              </div>
            <a href="/dpus" class="btn waves-effect waves-light orange right"><i class="material-icons left">extension</i>More DPUs</a> 
            </div>
     </div>

   </div>

   <div class="container">
      <div class="row">
        <h3 class="center orange-text">Features</h3>
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">view_module</i></h2>
            <h5 class="center">Modular design</h5>

            <p class="light center-align">Deploy only those components that you actually need. For example, on your pipeline development machine, you need the whole stack, but on your data processing server, you only need the backend part. The data processing options are extensible by DPUs (Data Processing Units). We have a library of the most basic ones. When you need something special, just copy and modify an existing one.</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">http</i></h2>
            <h5 class="center">All functionality covered by REST APIs</h5>

            <p class="light center-align">Our frontend uses the same APIs which is available to everyone. This means that you can build your own frontend, integrate only parts of our app and control everything easily.</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">share</i></h2>
            <h5 class="center">Almost everything is RDF</h5>

            <p class="light center-align">Except for our configuration file, everything is in RDF. This includes the ETL pipelines, DPU configurations and messages indicating the progress of the pipeline. You can generate the pipelines and configurations using SPARQL from your own app. Also, batch modification of configurations is a simple text file operation, no more clicking through every pipeline when migrating.</p>
          </div>
        </div>
      </div>
   </div>
