<div layout="row" layout-align="space-around">
    <div class="container" style="max-width: 66em;width: 100%;">
        <md-content>
            <div ng-show="!repository.loaded" layout="row">
                <span flex="50"/>
                <img src="app/components/pipelines/listView/assets/img/loading.gif" class="center-block" title="Loading..."
                     style="padding-top: 5em"/>
            </div>
            <md-list ng-show="repository.loaded">
                <md-list-item ng-repeat="item in repository.data| orderBy:'-start'"
                              ng-click="onExecution(item)" class="md-2-line"
                              aria-label="Show detail">
                    <div class="md-primary">
                        <md-icon md-svg-icon="{{item.icon.name}}" class="lp-icon-avatar md-avatar" ng-style="item.icon.style"></md-icon>
                    </div>
                    <div class="md-list-item-text">
                        <div class="lp-font-list-label">{{item.label}}</div>
                        <div ng-switch on="item.detailType" class="lp-font-list-content">
                            <span ng-switch-when="NONE">

                            </span>
                            <span ng-switch-when="PROGRESS">
                                <span hide-xs>
                                    <span>{{item.startTime ? (item.startTime| date:'yyyy-MM-dd HH:mm:ss') : '...'}}</span> - ...</br>
                                </span>
                                <md-progress-linear md-mode="determinate" value="{{item.progress.value}}"></md-progress-linear>
                            </span>
                            <span ng-switch-when="FULL" hide-xs>
                                <span>{{item.startTime| date:'yyyy-MM-dd HH:mm:ss'}}</span>,
                                <span>{{item.duration}}</span>
                                <br/>Size: <span>{{item.size / 1048576| number : 2 }} mB</span>
                            </span>
                        </div>
                    </div>
                    <md-button ng-click='onPipeline(item)' class="md-icon-button md-secondary" aria-label="Edit" hide-xs>
                        <md-icon md-svg-icon="autorenew" class="lp-icon"></md-icon>
                    </md-button>
                    <md-button ng-click='onExecute(item)' class="md-icon-button md-secondary" aria-label="Execute" hide-xs>
                        <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon>
                    </md-button>
                    <md-button ng-click='onDelete(item)' class="md-icon-button md-secondary" aria-label="Delete" ng-disabled="!item.canDelete" hide-xs>
                        <md-icon md-svg-icon="delete_forever" class="lp-icon"></md-icon>
                    </md-button>
                    <md-menu class="md-secondary" md-position-mode="target-right target" hide-xs>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-svg-icon="more_vert" class="lp-icon"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-href="./resources/executions/{{item.id}}/logs" target="_blank">
                                    <md-icon md-svg-icon="visibility"></md-icon> See logs
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="./resources/executions/{{item.id}}/logs" target="_blank"
                                           download="{{item.label}}_{{item.start|date:'yyyy-MM-dd_HH-mm-ss'}}.log" >
                                    <md-icon md-svg-icon="file_download"></md-icon> Download logs
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu class="md-secondary" md-position-mode="target-right target" hide-gt-xs>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-svg-icon="more_vert" class="lp-icon"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click='onPipeline(item)'>
                                    <md-icon md-svg-icon="autorenew"></md-icon> Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click='onExecute(item)' >
                                    <md-icon md-svg-icon="play_circle_outline"></md-icon> Execute
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click='onDelete(item)' ng-hide="!item.canDelete">
                                    <md-icon md-svg-icon="delete_forever"></md-icon> Delete
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="./resources/executions/{{item.id}}/logs" target="_blank">
                                    <md-icon md-svg-icon="visibility"></md-icon> See logs
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="./resources/executions/{{item.id}}/logs" target="_blank"
                                           download="{{item.label}}_{{item.start|date:'yyyy-MM-dd_HH-mm-ss'}}.log">
                                    <md-icon md-svg-icon="file_download"></md-icon> Download logs
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>
</div>