[Unit]
Description=LinkedPipes ETL executor service
After=network.target

[Service]
Type=simple
User=lpetl
WorkingDirectory=/opt/lp/etl/deploy
ExecStart=/usr/bin/java -DconfigFileLocation=configuration.properties -Xmx6G -jar ./executor/executor.jar
Restart=always
StandardOutput=null

[Install]
WantedBy=multi-user.target

