<div flex layout="column">

  <md-content style="width:100%;" layout="row"
              layout-align="space-around center">

    <div flex layout-padding style="padding-top: 4px;padding-bottom: 4px">
      <div ng-show="!isEditMode"
           style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;position:relative;text-align:left;width:100%;margin:0px;line-height:normal;text-transform: none;font-size:14px">
        <md-icon class="material-icons md-avatar"
                 ng-style="executionIcon.style">
          {{executionIcon.name}}
        </md-icon>
        Execution of {{pipelineLabel}}
      </div>
      <md-button ng-show="isEditMode"
                 style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;position:relative;text-align:left;width:100%;margin:0px;line-height:normal;text-transform: none;"
                 ng-click="onPipelineDetail($event)">
        {{pipelineLabel}}
      </md-button>
    </div>

    <md-menu style="padding-top: 4px;padding-bottom: 4px">
      <md-button class="md-icon-button"
                 ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin class="material-icons lp-icon">
          settings
        </md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item >
          <md-button  ng-click="onChangeVisual('default')">
            <md-icon class="material-icons lp-icon"
                     ng-show="activeVisual === 'default'">
              check
            </md-icon>
            Select default visual
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="hasExecution">
          <md-button ng-click="onChangeVisual('execution-time')">
            <md-icon class="material-icons lp-icon"
                     ng-show="activeVisual === 'execution-time'">
              check
            </md-icon>
            Select execution time visual
          </md-button>
        </md-menu-item>

        <md-menu-item ng-show="isEditMode">
          <md-button ng-click="onDisableAllLoaders()">
            <md-icon class="material-icons lp-icon">flash_off</md-icon>
            Disable loaders
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="isEditMode">
          <md-button ng-click="onEnableAllLoaders()">
            <md-icon class="material-icons lp-icon">flash_on</md-icon>
            Enable loaders
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-menu style="padding-top: 4px;padding-bottom: 4px" ng-show="!isEditMode">
      <md-button class="md-icon-button"
                 ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="onDownloadNoSave()">
            <md-icon class="material-icons lp-icon">file_download</md-icon>
            Download
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onDownloadNoCredentialsNoSave()">
            <md-icon class="material-icons lp-icon">file_download</md-icon>
            Download without credentials
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onCopyNoSave()">
            <md-icon class="material-icons lp-icon" md-menu-origin>
              file_copy
            </md-icon>
            Copy and Open
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click='onOpenLogTail()'>
            <md-icon class="material-icons">visibility</md-icon>
            See logs tail
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-href="{{logsUrl}}" target="_blank">
            <md-icon class="material-icons">visibility</md-icon>
            See logs
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button
            ng-href="{{logsUrl}}"
            target="_blank"
            download="{{pipelineLabel}}.log">
            <md-icon class="material-icons">file_download</md-icon>
            Download logs
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-menu style="padding-top: 4px;padding-bottom: 4px" ng-show="isEditMode">
      <md-button class="md-icon-button"
                 ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="onPipelineDetail($event)">
            <md-icon class="material-icons lp-icon" md-menu-origin>
              settings
            </md-icon>
            Pipeline detail
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onDownload()">
            <md-icon class="material-icons lp-icon">file_download</md-icon>
            Save and download
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onDownloadNoCredentials()">
            <md-icon class="material-icons lp-icon">file_download</md-icon>
            Save and download without credentials
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onBackupDownload()">
            <md-icon class="material-icons lp-icon">file_download</md-icon>
            Download backup (without templates)
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onExecuteWithoutDebugData($event)">
            <md-icon class="material-icons lp-icon">play_circle_outline
            </md-icon>
            Execute without debug data
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onCopy()">
            <md-icon class="material-icons lp-icon" md-menu-origin>
              content_paste
            </md-icon>
            Copy and Open
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="onDelete($event)">
            <md-icon class="material-icons lp-icon" md-menu-origin>
              delete_forever
            </md-icon>
            Delete
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </md-content>

  <md-content style="overflow-x: hidden; overflow-y: hidden;">
    <md-content id="canvas" style="overflow-x: hidden;">
      <lp-canvas/>
    </md-content>
    <lp-canvas-edit/>
  </md-content>

  <md-content layout="row" layout-align="space-around center"
              hide show-gt-sm>
    <md-button ng-click="onSave()" ng-show="isEditMode">
      <md-icon md-menu-origin class="material-icons">
        save
      </md-icon>
      Save
    </md-button>
    <md-button ng-click="onExecute()" ng-show="isEditMode"
               class="md-primary">
      <md-icon md-menu-origin class="material-icons">
        play_circle_outline
      </md-icon>
      Execute
    </md-button>
    <md-button ng-click="onCancel()"
               ng-show="isExecutionCancelable && !isEditMode"
               class="md-warn">
      <md-icon class="material-icons">stop</md-icon>
      Cancel
    </md-button>
    <md-button ng-click="onEditMode()"
               ng-show="isExecutionFinished && !isEditMode"
               class="md-primary">
      Edit mode
    </md-button>
    <md-button ng-click="onExecutionMode()"
               ng-show="isExecutionFinished && isEditMode">
      Execution mode
    </md-button>
    <md-button ng-click="onClose()" class="md-warn">
      <md-icon md-menu-origin class="material-icons">
        close
      </md-icon>
      Close
    </md-button>
  </md-content>

  <md-content hide-gt-sm layout="row" layout-align="space-around center">
    <md-button ng-click="onSave()" ng-show="isEditMode">
      <md-icon md-menu-origin class="material-icons">
        save
      </md-icon>
    </md-button>
    <md-button ng-click="onExecute()" ng-show="isEditMode"
               class="md-primary">
      <md-icon md-menu-origin class="material-icons">
        play_circle_outline
      </md-icon>
    </md-button>
    <md-button ng-click="onEditMode()"
               ng-show="isExecutionFinished && !isEditMode">
      Edit mode
    </md-button>
    <md-button ng-click="onExecutionMode()"
               ng-show="isExecutionFinished && isEditMode">
      Execution mode
    </md-button>
    <md-button ng-click="onClose()" class="md-warn">
      <md-icon md-menu-origin class="material-icons">
        close
      </md-icon>
    </md-button>
  </md-content>

</div>
