<div class="nav-wrapper container hide-on-large-only">
    <a href="http://linkedpipes.com" class="breadcrumb">LP</a>
    <a href="/" class="breadcrumb">ETL</a>
    <a class="right" href="https://github.com/linkedpipes/etl/blob/gh-pages/_components/{{ page.short }}.html" title="Edit this page"><i class="material-icons">mode_edit</i></a>
    <a href="/components/" class="breadcrumb">Components</a>
</div>
<div class="nav-wrapper container hide-on-med-and-down">
    <a href="http://linkedpipes.com" class="breadcrumb">LinkedPipes</a>
    <a href="/" class="breadcrumb">ETL</a>
    <a href="/components/" class="breadcrumb">Components</a>
    <a class="right" href="https://github.com/linkedpipes/etl/blob/gh-pages/_components/{{ page.short }}.html" title="Edit this page"><i class="material-icons">mode_edit</i></a>
    <span class="breadcrumb">{{ page.title }}</span>
</div>