 <footer class="page-footer blue lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The team</h5>
          <p class="grey-text text-lighten-4">
			We are <a class="orange-text text-lighten-3" href="/team/">a team of Ph.D. students and researchers</a> from Prague computer science universities.
			We worked on a number of European and local Linked (Open) Data projects involving hundreds of processed datasets.
		  </p>
		  <p class="grey-text text-lighten-4">
			The following organizations contributed to the development of LinkedPipes ETL:
		  </p>
		  <ul>
			<li><a class="orange-text text-lighten-3" href="https://www.mff.cuni.cz/en">Faculty of Mathematics and Physics</a>, <a class="orange-text text-lighten-3" href="https://cuni.cz/UKEN-1.html">Charles University</a></li>
			<li><a class="orange-text text-lighten-3" href="https://fis.vse.cz/english/">Faculty of Informatics and Statistics</a>, <a class="orange-text text-lighten-3" href="https://www.vse.cz/english/">University of Economics in Prague</a></li>
			<li><a class="orange-text text-lighten-3" href="https://fit.cvut.cz/">Faculty of Information Technology</a>, <a class="orange-text text-lighten-3" href="https://www.cvut.cz/en">Czech Technical University in Prague</a></li>
			<li><a class="orange-text text-lighten-3" href="https://nakit.cz/en/">NAKIT</a> - National Agency for Communication and Information Technologies</li>
			<li><a class="orange-text text-lighten-3" href="https://www.mvcr.cz/mvcren/">Ministry of the Interior of the Czech Republic</a></li>
			<li><a class="orange-text text-lighten-3" href="https://semantica.cz/english/">Semantica.cz</a></li>
		  </ul>
		  <p class="grey-text text-lighten-4">
			In addition, the development of LinkedPipes ETL was supported by the following projects:
		  </p>
		  <ul>
			<li>
				<a class="orange-text text-lighten-3" href="https://openbudgets.eu">OpenBudgets.eu</a> project.
				OpenBudgets.eu has received funding from the European Union’s H2020 EU research and innovation programme under grant agreement No 645833.
			</li>
			<li>
				Czech Science Foundation (GAČR), grant number 16-09713S.
			</li>
			<li>
				Wikimedia Foundation <a class="orange-text text-lighten-3" href="https://meta.wikimedia.org/wiki/Grants:Project">Project Grant</a> <a class="orange-text text-lighten-3" href="https://meta.wikimedia.org/wiki/Grants:Project/MFFUK/Wikidata_%26_ETL">Wikidata &amp; ETL</a>
			</li>
		  </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="orange-text text-lighten-3" href="https://github.com/linkedpipes/etl">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Brought to you by the <a class="orange-text text-lighten-3" href="/team/">LinkedPipes team</a>
      </div>
    </div>
  </footer>
