 <footer class="page-footer blue lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The team</h5>
          <p class="grey-text text-lighten-4">We are <a class="orange-text text-lighten-3" href="/team/">a team of Ph.D. students and researchers</a> from Prague computer science universities. We worked on a number of European and local Linked (Open) Data projects involving hundreds of processed datasets.</p>
		  <p class="grey-text text-lighten-4">LinkedPipes ETL is developed partially by the <a class="orange-text text-lighten-3" href="http://openbudgets.eu">OpenBudgets.eu</a> project. OpenBudgets.eu has received funding from the European Union’s H2020 EU research and innovation programme under grant agreement No 645833.</p>


        </div>
        <!--<div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>-->
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="orange-text text-lighten-3" href="https://github.com/linkedpipes/etl">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Brought to you by the <a class="orange-text text-lighten-3" href="/team/">LinkedPipes team</a>
      </div>
    </div>
  </footer>
