<div class="nav-wrapper container hide-on-large-only">
    <a href="http://linkedpipes.com" class="breadcrumb">LP</a>
    {% for my_page in site.pages %}
        {% if page.url == my_page.url %}
            {% if my_page.homepage %}
                <a class="breadcrumb">ETL</a>
            {% else %}
                <a href="/" class="breadcrumb">ETL</a>
                <span class="breadcrumb">{{ my_page.title }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div class="nav-wrapper container hide-on-med-and-down">
    <a href="http://linkedpipes.com" class="breadcrumb">LinkedPipes</a>
    {% for my_page in site.pages %}
        {% if page.url == my_page.url %}
            {% if my_page.homepage %}
                <a class="breadcrumb">ETL</a>
            {% else %}
                <a href="/" class="breadcrumb">ETL</a>
                <span class="breadcrumb">{{ my_page.title }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
