<div class="nav-wrapper container hide-on-large-only">
    <a href="http://linkedpipes.com" class="breadcrumb">LP</a>
    <a href="/" class="breadcrumb">ETL</a>
    <a href="/tips/" class="breadcrumb">Tips &amp; Tricks</a>
</div>
<div class="nav-wrapper container hide-on-med-and-down">
    <a href="http://linkedpipes.com" class="breadcrumb">LinkedPipes</a>
    <a href="/" class="breadcrumb">ETL</a>
    <a href="/tips/" class="breadcrumb">Tips &amp; Tricks</a>
    <span class="breadcrumb">{{ page.title }}</span>
</div>