<div layout="row" layout-align="space-around">
  <div class="container" style="max-width: 66em;width: 100%;">
    <md-content>
      <div ng-show="!repository.areDataReady && !repository.error"
           layout="column" layout-align="center center">
        <img src="./assets/images/loading.gif" class="center-block"
             title="Loading..." style="padding-top: 5rem"/>
      </div>
      <div ng-show="!repository.areDataReady && repository.error"
           layout="column" layout-align="center center">
        <div style="margin-top: 2rem;font-size: 2rem">Can't load data</div>
        <br/>
        <div>{{repository.error}}</div>
        <br/>
        <div>Please try it again later.</div>
      </div>
      <div ng-show="repository.areDataReady" style="margin: 1.2em 2em 0em 1em;">
        <md-input-container class="md-block" style="margin: 0em 0em 0em 0em;">
          <label>Label search</label>
          <input ng-model="filter.labelSearch">
        </md-input-container>
        <md-chips ng-model="filter.tagsSearch" md-require-match="true"
                  md-on-add="chipsFilter()" md-on-remove="chipsFilter()"
                  md-autocomplete-snap>
          <md-autocomplete
            md-search-text="filter.tagsSearchString"
            md-items="item in getTagsMatchingQuery(filter.tagsSearchString)"
            placeholder="Search for a tags.">
            <span md-highlight-text="filter.tagsSearchString">{{item}}</span>
          </md-autocomplete>
          <md-chip-template>{{$chip}}</md-chip-template>
        </md-chips>
      </div>
      <md-list ng-show="repository.areDataReady">
        <md-list-item
          ng-repeat="item in repository.visibleItems track by $index"
          class="md-1-line"
          ng-show="item.isVisible"
          ng-click="noAction()"
          ng-href="{{item.onClickUrl}}">
          <div class="md-list-item-text" layout="row" layout-wrap>
            <div class="lp-font-list-label" style="margin-right: 1.5em;">
              {{item.label}}
            </div>
            <div class="lp-font-list-label"
                 ng-repeat="tag in item.tags"
                 style="margin-right: 0.5em;border-radius: 16px;background: rgb(224,224,224);padding: 0px 10px 0px 10px;margin-bottom: 2px;">
              {{tag}}
            </div>
          </div>
          <md-button ng-click="onExecute(item)"
                     class="md-icon-button md-secondary" aria-label="Execute"
                     hide-xs>
            <md-tooltip>Execute</md-tooltip>
            <md-icon class="material-icons lp-icon">play_circle_outline
            </md-icon>
          </md-button>
          <md-menu class="md-secondary" md-position-mode="target-right target">
            <md-button aria-label="Open menu" class="md-icon-button"
                       ng-click="$mdMenu.open($event)" aria-label="Open menu">
              <md-icon class="material-icons lp-icon">more_vert</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item hide-gt-xs>
                <md-button ng-click="onExecute(item)" aria-label="Execute">
                  <md-icon class="material-icons lp-icon">play_circle_outline
                  </md-icon>
                  Execute
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click=""
                           ng-href="{{item.iri}}?templates=true&mappings=true&removePrivateConfig=false"
                           target="_blank" download="{{item.label}}.jsonld"
                           aria-label="Download">
                  <md-icon class="material-icons lp-icon">
                    file_download
                  </md-icon>
                  Download
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click=""
                           ng-href="{{item.iri}}?templates=true&mappings=true&removePrivateConfig=true"
                           target="_blank" download="{{item.label}}.jsonld"
                           aria-label="Download without credentials">
                  <md-icon class="material-icons lp-icon">file_download
                  </md-icon>
                  Download without credentials
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="onExecuteWithoutDebugData(item)">
                  <md-icon class="material-icons lp-icon">play_circle_outline
                  </md-icon>
                  Execute without debug data
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="onCopy(item)">
                  <md-icon md-menu-origin class="material-icons lp-icon">
                    file_copy
                  </md-icon>
                  Copy
                </md-button>
              </md-menu-item>
              <md-menu-item ng-show="isClipboardSupported">
                <md-button ng-click="onCopyIri(item)">
                  <md-icon md-menu-origin class="material-icons lp-icon">
                    content_paste
                  </md-icon>
                  Copy pipeline IRI
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="onDelete(item, $event)">
                  <md-icon md-menu-origin class="material-icons lp-icon">
                    delete_forever
                  </md-icon>
                  Delete
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <div ng-show="repository.areDataReady && repository.isEmpty" layout="row"
           layout-align="center center" flex>
        <div style="padding-top: 5em">
          Why don't you <a href="javascript:void(0)"
                           ng-click=onCreate()>create</a> or
          <a href="javascript:void(0)" ng-click="onUpload()">import</a> one?
        </div>
      </div>
      <lp-scroll-watch-list-tail
        ng-show="repository.areDataReady"
        total="repository.filteredItemCount"
        limit="repository.visibleItemLimit"/>
    </md-content>
    <div style="height: 2em;"></div>
    <div class="lock-size" layout="column" ng-show="repository.areDataReady">
      <md-fab-speed-dial md-direction="up" style="position: fixed;"
                         md-open="fap.isOpen"
                         class="md-scale md-fab-bottom-right speed-dial"
                         ng-mouseenter="fap.isOpen = true"
                         ng-mouseleave="fap.isOpen = false">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon style="color:white;" class="material-icons">menu</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Create new" class="md-fab md-raised"
                     ng-click="onCreate()">
            <md-icon style="color:black;" class="material-icons">add</md-icon>
          </md-button>
          <md-button aria-label="Upload existing" class="md-fab md-raised"
                     ng-click="onUpload()">
            <md-icon style="color:black;" class="material-icons">
              file_upload
            </md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </div>
</div>