<md-dialog aria-label="Pipeline export"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>Export: {{label}}</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="onClose()">
                    <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>{{waiting_text}}</div>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
