<div layout="row" layout-align="space-around">
    <div class="container" style="max-width: 66em;width: 100%;">
        <md-content>
            <div ng-show="!repository.loaded" layout="row">
                <span flex="50"/>
                <img src="app/components/pipelines/listView/assets/img/loading.gif" class="center-block" title="Loading..."
                     style="padding-top: 5em"/>
            </div>
            <div ng-show="repository.loaded" style="margin: 1.2em 2em 0em 1em;">
                <md-input-container  class="md-block" style="margin: 0em 0em 0em 0em;">
                    <label>Label search</label>
                    <input ng-model="searchLabel">
                </md-input-container>
                <md-chips ng-model="searchTags" md-require-match="true" md-on-add="chipsFilter()" md-on-remove="chipsFilter()" md-autocomplete-snap>
                    <md-autocomplete
                            md-search-text="search.tags.searchText"
                            md-items="item in search.tags.querySearch(search.tags.searchText)"
                            placeholder="Search for a tags.">
                        <span md-highlight-text="search.tags.searchText">{{item}}</span>
                    </md-autocomplete>
                    <md-chip-template>{{$chip}}</md-chip-template>
                </md-chips>
            </div>
            <md-list ng-show="repository.loaded">
                <div ng-hide="repository.data.length" layout="row"
                     layout-align="center center" flex>
                    <div style="padding-top: 5em">
                        Why don't you <a href="javascript:void(0)" ng-click=onCreate()>create</a> or
                        <a href="javascript:void(0)" ng-click="onUpload()">import</a> one?
                    </div>
                </div>
                <md-list-item ng-repeat="item in repository.data" ng-click="onPipeline(item)" class="md-1-line" ng-show="item.show">
                    <div class="md-primary">
                        <!--<md-checkbox ng-model="message.selected"></md-checkbox>-->
                    </div>
                    <div class="md-list-item-text" layout="row" layout-wrap>
                        <div class="lp-font-list-label" style="margin-right: 1.5em;">{{item.label}}</div>
                        <div class="lp-font-list-label"
                             ng-repeat="tag in item.tags"
                             style="margin-right: 0.5em;border-radius: 16px;background: rgb(224,224,224);padding: 0px 10px 0px 10px;margin-bottom: 2px;">
                            {{tag}}
                        </div>
                    </div>
                    <md-button ng-click="onExecute(item)" class="md-icon-button md-secondary" aria-label="Execute" hide-xs>
                        <md-tooltip>Execute</md-tooltip>
                        <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon>
                    </md-button>
                    <md-menu class="md-secondary" md-position-mode="target-right target" hide-xs>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-svg-icon="more_vert" class="lp-icon"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="" ng-href="{{item.iri}}?templates=true&mappings=true"
                                           target="_blank" download="{{item.label}}.jsonld" aria-label="Download">
                                    <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onExport(item, $event)" aria-label="Download anonymized">
                                    <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download without credentials
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onExecuteWithoutDebugData(item)">
                                    <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon> Execute without debug data
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onCopy(item)">
                                    <md-icon md-menu-origin md-svg-src="copy" class="lp-icon"></md-icon> Copy
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="info.clipboard">
                                <md-button ng-click="onCopyIri(item)">
                                    <md-icon md-menu-origin md-svg-src="ic_content_paste" class="lp-icon"></md-icon> Copy pipeline IRI
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onDelete(item, $event)">
                                    <md-icon md-menu-origin md-svg-icon="delete_forever" class="lp-icon"></md-icon> Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu class="md-secondary" md-position-mode="target-right target" hide-gt-xs>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-svg-icon="more_vert" class="lp-icon"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="onExecute(item)" aria-label="Execute">
                                    <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon> Execute
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onExecuteWithoutDebugData(item)">
                                    <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon> Execute without debug data
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onExport(item, $event)" aria-label="Export">
                                    <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download without credentials
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onCopy(item)">
                                    <md-icon md-menu-origin md-svg-src="copy" class="lp-icon"></md-icon> Copy
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="info.clipboard">
                                <md-button ng-click="onCopyIri(item)">
                                    <md-icon md-menu-origin md-svg-src="ic_content_paste" class="lp-icon"></md-icon> Copy pipeline IRI
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onDelete(item, $event)">
                                    <md-icon md-menu-origin md-svg-icon="delete_forever" class="lp-icon"></md-icon> Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <div style="height: 5em;"></div>
        <div class="lock-size" layout="column" ng-show="repository.loaded">
            <md-fab-speed-dial md-direction="up" style="position: fixed;" md-open="fap.isOpen"
                               class="md-scale md-fab-bottom-right speed-dial"
                               ng-mouseenter="fap.isOpen = true" ng-mouseleave="fap.isOpen = false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-icon="menu" style="color:white;"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Create new" class="md-fab md-raised" ng-click="onCreate()">
                        <md-icon md-svg-icon="add" style="color:black;"></md-icon>
                    </md-button>
                    <md-button aria-label="Upload existing" class="md-fab md-raised" ng-click="onUpload()">
                        <md-icon md-svg-icon="file_upload" style="color:black;"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>
</div>
