<div layout="row" layout-align="space-around">
    <div class="container" style="max-width: 66em;width: 100%;">
        <md-content>
            <div ng-show="!repository.loaded" layout="row">
                <span flex="50"/>
                <img src="app/components/pipelines/listView/assets/img/loading.gif" class="center-block" title="Loading..."
                     style="padding-top: 5em"/>
            </div>
            <md-list ng-show="repository.loaded">
                <md-list-item ng-repeat="item in repository.data" ng-click="onPipeline(item)" class="md-1-line" >
                    <div class="md-primary">
                        <!--<md-checkbox ng-model="message.selected"></md-checkbox>-->
                    </div>
                    <div class="md-list-item-text">
                        <div class="lp-font-list-label">{{item.label}}</div>
                    </div>
                    <md-button ng-click="onExecute(item)" class="md-icon-button md-secondary" aria-label="Execute" hide-xs>
                        <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon>
                    </md-button>
                    <md-menu class="md-secondary" md-position-mode="target-right target" hide-xs>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-svg-icon="more_vert" class="lp-icon"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="" ng-href="./resources/pipelines/{{item.id}}"
                                           target="_blank" download="{{item.label}}.jsonld" aria-label="Download">
                                    <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onCopy(item)">
                                    <md-icon md-menu-origin md-svg-src="copy" class="lp-icon"></md-icon> Copy
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu class="md-secondary" md-position-mode="target-right target" hide-gt-xs>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon md-svg-icon="more_vert" class="lp-icon"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="onExecute(item)" aria-label="Execute">
                                    <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon> Execute
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="" ng-href="./resources/pipelines/{{item.id}}"
                                           target="_blank" download="{{item.label}}.jsonld" aria-label="Download">
                                    <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="onCopy(item)">
                                    <md-icon md-menu-origin md-svg-src="copy" class="lp-icon"></md-icon> Copy
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <div style="height: 5em;"></div>
        <div class="lock-size" layout="column" ng-show="repository.loaded">
            <md-fab-speed-dial md-direction="up" style="position: fixed;" md-open="fap.isOpen"
                               class="md-scale md-fab-bottom-right speed-dial"
                               ng-mouseenter="fap.isOpen = true" ng-mouseleave="fap.isOpen = false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-icon="menu" style="color:white;"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Create new" class="md-fab md-raised" ng-click="onCreate()">
                        <md-icon md-svg-icon="add" style="color:black;"></md-icon>
                    </md-button>
                    <md-button aria-label="Upload existing" class="md-fab md-raised" ng-click="onUpload()">
                        <md-icon md-svg-icon="file_upload" style="color:black;"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>
</div>