<div layout="row" layout-align="space-around">
  <div class="md-padding" style="max-width: 66em;width: 100%;">
    <md-content ng-show="view == 'input'" layout="column" class="layout-padding">
      <div style="padding-left: 30px;margin-bottom: -2em;">
        <md-radio-group ng-model="type">
          <md-radio-button value="file"> Upload file</md-radio-button>
          <md-radio-button value="url"> From URL</md-radio-button>
        </md-radio-group>
        <md-switch ng-model="updateTemplates">
          Update existing templates
        </md-switch>
        <md-switch ng-model="keepPipelineSuffix">
          Keep pipeline suffix.<br/>
          <b>Warning</b> this may replace existing pipeline.
        </md-switch>
      </div>
      <div ng-show="type === 'file'">
        <div class="md-padding">
          Selected file: {{file.name}}
        </div>
        <div>
          <md-button ngf-select ng-model="file" ngf-multiple="false"
                     class="md-raised" ng-disable="uploading">
            Select File
          </md-button>
          <md-button ng-click="onUpload()" class="md-raised md-primary"
                     ng-disabled="(type === 'file' && !fileReady) || (type === 'url' && !url)">
            Upload
          </md-button>
        </div>
      </div>
      <div ng-show="type === 'url'">
        <md-input-container class="md-block" style="margin-bottom: 0em;" flex>
          <label>Pipeline URL</label>
          <input ng-model="url" required>
        </md-input-container>
        <md-button ng-click="onUpload()" class="md-raised md-primary"
                   ng-disabled="(type === 'file' && !fileReady) || (type === 'url' && !url)">
          Upload
        </md-button>
      </div>
    </md-content>
    <md-content ng-show="view == 'uploading'">
      <p>Uploading ...</p>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </md-content>
    <md-content ng-show="view == 'done'">
      <h2>Imported pipelines</h2>
      <md-list>
        <md-list-item
          ng-repeat="item in uploadResult.pipelines track by $index"
          class="md-1-line"
          ng-href="{{item.onClickUrl}}">
          <div class="md-list-item-text" layout="row" layout-wrap>
            <div class="lp-font-list-label" style="margin-right: 1.5em;">
              {{ item.label }}
            </div>
            <div class="lp-font-list-label"
                 ng-repeat="tag in item.tags"
                 style="margin-right: 0.5em;border-radius: 16px;background: rgb(224,224,224);padding: 0 10px 0 10px;margin-bottom: 2px;">
              {{ tag }}
            </div>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <h2>Imported templates</h2>
      <md-list>
        <md-list-item
          ng-repeat="item in uploadResult.referenceTemplates track by $index"
          class="md-1-line"
          ng-href="{{item.onClickUrl}}">
          <div class="md-list-item-text" layout="row" layout-wrap>
            <div class="lp-font-list-label" style="margin-right: 1.5em;">
              {{ item.label }}
            </div>
            <div class="lp-font-list-label"
                 ng-repeat="tag in item.tags"
                 style="margin-right: 0.5em;border-radius: 16px;background: rgb(224,224,224);padding: 0 10px 0 10px;margin-bottom: 2px;">
              {{ tag }}
            </div>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
