<div>
  <div ng-if="::allForced">
    Nothing to configure here. You can check the
    <a ng-click="changeToHierarchyTab()" href="javascript:void(0);">
      inheritance hierarchy
    </a>.
  </div>
  <div ng-if="::model.$control" ng-show="!model.$control.hide">
    Configuration
    <md-checkbox ng-model="model.$control.inherit">
      Inherit from template
    </md-checkbox>
  </div>
  <div ng-repeat="item in model" ng-if="::item.controlled"
       ng-show="!item.hide">
    <span>{{::item.label}}</span><br/>
    <md-checkbox ng-model="item.inherit">
      Inherit from template
    </md-checkbox>
  </div>
</div>
