<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>Component execution detail</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="onCancel()">
                    <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <span>
                    <p>Component:
                        <span>{{::label}}</span>
                    </p>
                    <p>Status:
                        <span>{{status}}</span>
                    </p>
                    <p>Start:
                        <span>{{start| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </p>
                    <p>End:
                        <span>{{end| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </p>
                    <p>Duration:
                        <span>{{duration| date: 'HH:mm:ss' : 'UTC'}}</span>
                    </p>
                </span>
                <span ng-show="{{failed}}">
                    <p>Cause: <br/>
                        <span>{{cause}}</span>
                    </p>
                    <p>Root cause: <br/>
                        <span>{{rootCause}}</span>
                    </p>
                </span>
                <span>
                    <p>Messages:</p>
                </span>
                <md-list>
                    <md-list-item class="md-1-line" ng-repeat="item in messages | orderBy:'-order'">
                        <div class="md-primary">
                        </div>
                        <div class="md-list-item-text">
                            <span class="lp-font-list-label">{{::item.label}}</span><br/>
                            <span class="lp-font-list-content">{{::item.created| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="onCancel()">
                Close detail
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

