<div layout="row" layout-align="space-around">
    <div class="container" style="max-width: 66em;width: 100%;">
        <div ng-show="!loaded && !error" layout="column" layout-align="center center">
            <img src="assets/images/loading.gif" class="center-block" title="Loading..." style="padding-top: 5rem"/>
        </div>
        <div ng-show="!loaded && error" layout="column" layout-align="center center">
            <div style="margin-top: 2rem;font-size: 2rem">Can't load data</div>
            <br/>
            <div>{{error}}</div>
            <br/>
            <div>Please try it later.</div>
        </div>
        <div ng-show="loaded" style="margin: 1.2em 2em 0em 1em;">
            <md-input-container class="md-block"
                                style="margin: 0em 0em 0em 0em;">
                <label>Label search</label>
                <input ng-model="searchLabel">
            </md-input-container>
        </div>
        <md-list flex>
            <md-list-item class="md-2-line" ng-click="onClick(template)"
                          ng-repeat="template in templates"
                          ng-show="template._templateListView">
                <div class="md-primary" ng-if="::template.isInvalid">
                    <md-icon md-svg-icon="error"
                             class="lp-icon-avatar md-avatar"
                             style="color: red;"/>
                </div>
                <div class="md-list-item-text" layout="column">
                    <h3>{{::template.label}}</h3>
                    <p>
                        <span ng-repeat="item in template._parents">
                            {{item.label}}
                            <span ng-if="!$last"> -> </span>
                        </span>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
