<div flex layout="column">
    <md-content style="width:100%;" layout="row" layout-align="space-around center">
        <div flex layout-padding style="padding-top: 4px;padding-bottom: 4px">
            <div style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;position:relative;text-align: left;">
                {{data.label}}
            </div>
        </div>
        <md-menu style="padding-top: 4px;padding-bottom: 4px">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="onOpenMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="onDetail($event)" aria-label="Edit detail">
                        <md-icon md-menu-origin md-svg-src="settings" class="lp-icon"></md-icon> Pipeline detail
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onCopy()">
                        <md-icon md-menu-origin md-svg-src="copy" class="lp-icon"></md-icon> Copy and Open
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onDelete($event)">
                        <md-icon md-menu-origin md-svg-icon="delete" class="lp-icon"></md-icon> Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-content>

    <md-content id="canvas" >
        <pipeline-canvas api="canvasApi"></pipeline-canvas>
    </md-content>

    <md-content hide show-gt-sm layout="row" layout-align="space-around center">
        <md-button ng-click="onSave()">
            <md-icon md-menu-origin md-svg-src="edit"></md-icon> Save
        </md-button>
        <md-button ng-click="onExecute()" class="md-primary">
            <md-icon md-menu-origin md-svg-src="play_circle_outline"></md-icon> Execute
        </md-button>
        <md-button ng-click="onClose()" class="md-warn">
            <md-icon md-menu-origin md-svg-src="close"></md-icon> Close
        </md-button>
    </md-content>

    <md-content hide-gt-sm layout="row" layout-align="space-around center">
        <md-button ng-click="onSave()" aria-label="Save">
            <md-icon md-menu-origin md-svg-src="edit"></md-icon>
        </md-button>
        <md-button ng-click="onExecute()" class="md-primary" aria-label="Execute">
            <md-icon md-menu-origin md-svg-src="play_circle_outline"></md-icon>
        </md-button>
        <md-button ng-click="onClose()" class="md-warn" aria-label="Close">
            <md-icon md-menu-origin md-svg-src="close"></md-icon>
        </md-button>
    </md-content>

    <div id="componentMenu" style="position:absolute;overflow:visible;width:0px;" ng-show="status.menuVisible && !status.moving">
        <span class="topLine" style="position:relative;top:-60px;">
            <md-button class="md-fab md-mini" style="position:absolute;left:-30px;" aria-label="Edit" ng-click="onEditComponent()">
                <md-tooltip md-direction="top">Edit</md-tooltip>
                <md-icon md-menu-origin md-svg-src="edit"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" style="position:absolute;left:20px;" aria-label="Delete" ng-click="onDeleteComponent()">
                <md-tooltip md-direction="top">Delete</md-tooltip>
                <md-icon md-menu-origin md-svg-src="delete"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" style="position:absolute;left:70px;" aria-label="Copy" ng-click="onCopyComponent()">
                <md-tooltip md-direction="top">Copy</md-tooltip>
                <md-icon md-menu-origin md-svg-src="copy"></md-icon>
            </md-button>
        </span>
        <span class="bottomLine" style="position:relative;">
            <md-button class="md-fab md-mini" style="position:absolute;left:-30px;top:55px;" aria-label="Prerequisity" ng-click="onPrerequisiteComponent()">
                <md-tooltip md-direction="bottom">Run before</md-tooltip>
                <md-icon md-menu-origin md-svg-src="timeline"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" style="position:absolute;left:20px;top:55px;" aria-label="Debug to" ng-click="onDebugToComponent()">
                <md-tooltip md-direction="bottom">Debug to this component</md-tooltip>
                <md-icon md-menu-origin md-svg-src="keyboard_tab"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" style="position:absolute;left:70px;top:55px;" aria-label="Change mapping" ng-click="onMappingComponent()" ng-show="status.mappingVisible">
                <md-tooltip md-direction="bottom">Enable/disable mapping</md-tooltip>
                <md-icon md-menu-origin md-svg-src="autorenew"></md-icon>
            </md-button>
        </span>
    </div>

</div>