<div flex layout="column">
    <md-content style="width:100%;" layout="row" layout-align="space-around center">
        <div flex layout-padding style="padding-top: 4px;padding-bottom: 4px">
            <div style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;position:relative;text-align: left;">
                {{data.pipelineLabel}}
            </div>
        </div>
        <md-menu style="padding-top: 4px;padding-bottom: 4px">
            <md-button class="md-icon-button" ng-click="onOpenMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-src="settings" class="lp-icon"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="onDisableAllLoaders()">
                        <md-icon md-svg-icon="flash_off" class="lp-icon"></md-icon> Disable loaders
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onEnableAllLoaders()">
                        <md-icon md-svg-icon="flash_on" class="lp-icon"></md-icon> Enable loaders
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu style="padding-top: 4px;padding-bottom: 4px">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="onOpenMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="onPipelineDetail($event)" aria-label="Pipeline detail">
                        <md-icon md-menu-origin md-svg-src="settings" class="lp-icon"></md-icon> Pipeline detail
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onDownload()">
                        <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onDowloadNoCredentials($event)">
                        <md-icon md-svg-icon="file_download" class="lp-icon"></md-icon> Download without credentials
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onExecuteWithoutDebugData($event)">
                        <md-icon md-svg-icon="play_circle_outline" class="lp-icon"></md-icon> Execute without debug data
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onCopy()">
                        <md-icon md-menu-origin md-svg-src="copy" class="lp-icon"></md-icon> Copy and Open
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="onDelete($event)">
                        <md-icon md-menu-origin md-svg-icon="delete_forever" class="lp-icon"></md-icon> Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-content>

    <md-content id="canvas" >
        <lp-canvas api="canvas"></lp-canvas>
    </md-content>

    <md-content hide show-gt-sm layout="row" layout-align="space-around center">
        <md-button ng-click="onSave()" ng-show="data.tools.edit">
            <md-icon md-menu-origin md-svg-src="edit"></md-icon> Save
        </md-button>
        <md-button ng-click="onExecute()" ng-show="data.tools.edit" class="md-primary">
            <md-icon md-menu-origin md-svg-src="play_circle_outline"></md-icon> Execute
        </md-button>
        <md-button ng-click="onClose()" class="md-warn">
            <md-icon md-menu-origin md-svg-src="close"></md-icon> Close
        </md-button>
        <md-button ng-click="onEditMode()" ng-show="data.tools.execFinished && !data.tools.edit">Edit mode</md-button>
    </md-content>

    <md-content hide-gt-sm layout="row" layout-align="space-around center">
        <md-button ng-click="onSave()" ng-show="data.tools.edit" aria-label="Save">
            <md-icon md-menu-origin md-svg-src="edit"></md-icon>
        </md-button>
        <md-button ng-click="onExecute()" ng-show="data.tools.edit" class="md-primary" aria-label="Execute">
            <md-icon md-menu-origin md-svg-src="play_circle_outline"></md-icon>
        </md-button>
        <md-button ng-click="onClose()" class="md-warn" aria-label="Close">
            <md-icon md-menu-origin md-svg-src="close"></md-icon>
        </md-button>
        <md-button ng-click="onEditMode()" ng-show="data.tools.execFinished && !data.tools.edit">Edit mode</md-button>
    </md-content>

    <lp-pipeline-edit api="pipelineEdit"></lp-pipeline-edit>

</div>
