<md-dialog aria-label="Pipeline label"  ng-cloak flex="50">
    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>Component detail</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="onCancel()">
                    <md-icon md-svg-src="close_small" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-tabs md-dynamic-height md-border-bottom>

                    <md-tab label="Configuration">
                        <md-content class="md-padding">
                            <configuration-holder uri="dialogs.reference.js"
                                                  uri-html="dialogs.reference.html"
                                                  api="dialogs.api">
                            </configuration-holder>
                        </md-content>
                    </md-tab>

                    <md-tab label="General">
                        <md-content class="md-padding">
                            <form name="generalForm">
                                <div layout-gt-xs="row">
                                    <md-input-container  class="md-block">
                                        <label>Component label</label>
                                        <input ng-model="general.label">
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="column">
                                    <md-input-container>
                                        <md-switch ng-model="general.templateColor">Use template color</md-switch>
                                    </md-input-container>
                                    <span ng-hide="general.templateColor">
                                        <!-- We can use: https://github.com/brianpkelley/md-color-picker -->
                                        Component color: <input type="color" ng-model="general.color" style="width:5em;"/>
                                    </span>
                                </div>
                            </form>
                        </md-content>
                    </md-tab>
                </md-tabs>


            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="onCancel()">
                CANCEL
            </md-button>
            <span flex></span>
            <md-button ng-click="onSave()">
                OK
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>

