<div layout="row" layout-align="space-around">
  <div class="container" style="max-width: 66em;width: 100%;">
    <md-content>
      <div ng-show="!repository.areDataReady && !repository.error"
           layout="column" layout-align="center center">
        <img src="assets/images/loading.gif" class="center-block"
             title="Loading..." style="padding-top: 5rem"/>
      </div>
      <div ng-show="!repository.areDataReady && repository.error"
           layout="column" layout-align="center center">
        <div style="margin-top: 2rem;font-size: 2rem">Can't load data</div>
        <br/>
        <div>{{repository.error}}</div>
        <br/>
        <div>We'll retry automatically in a few seconds.</div>
      </div>
      <div ng-show="repository.areDataReady" style="margin: 1.2em 2em 0em 1em;">
        <md-input-container class="md-block" style="margin: 0em 0em 0em 0em;">
          <label>Label search</label>
          <input ng-model="filter.labelSearch">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Execution status</label>
          <md-select ng-model="filter.status" multiple>
            <md-option ng-value="options" ng-repeat="options in pipelineStates">
              {{ options.label }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div ng-show="repository.areDataReady">
        <md-list>
          <md-list-item
            ng-repeat="item in repository.visibleItems track by $index"
            class="md-2-line"
            aria-label="Show detail"
            ng-click="noAction()"
            ng-href="{{item.onClickUrl}}"
            ng-show="item.isVisible">
            <div class="md-primary">
              <md-icon class="material-icons lp-icon-avatar md-avatar"
                       ng-style="item.icon.style">
                {{item.icon.name}}
              </md-icon>
            </div>
            <div class="md-list-item-text">
              <div class="lp-font-list-label">{{item.label}}</div>
              <div ng-switch on="item.detailType"
                   class="lp-font-list-content">
                <span ng-switch-when="NONE">
                    <span>{{item.metadata.executionTypeLabel}}</span>
                </span>
                <span ng-switch-when="PROGRESS">
                  <span hide-xs>
                      <span>{{item.start ? (item.start | date:'yyyy-MM-dd HH:mm:ss') : '...'}}</span> - ... </br>
                  </span>
                  <span>{{item.metadata.executionTypeLabel}}</span> </br>
                  <md-progress-linear md-mode="determinate"
                                      value="{{item.progress.value}}"></md-progress-linear>
                </span>
                <span ng-switch-when="FULL" hide-xs>
                    <span>{{item.start| date:'yyyy-MM-dd HH:mm:ss'}}</span>,
                    <span>{{item.duration}}</span> <br/>
                    <span>{{item.metadata.executionTypeLabel}}</span> Size: <span>{{item.size}} mB</span>
                </span>
              </div>
            </div>
            <md-button ng-click='onExecute(item)'
                       class="md-icon-button md-secondary"
                       aria-label="Execute" hide-xs>
              <md-tooltip>Execute</md-tooltip>
              <md-icon class="material-icons lp-icon">play_circle_outline
              </md-icon>
            </md-button>
            <md-button ng-click='onDelete(item)'
                       class="md-icon-button md-secondary"
                       aria-label="Delete"
                       ng-disabled="!item.canDelete" hide-xs>
              <md-tooltip>Delete</md-tooltip>
              <md-icon class="material-icons lp-icon">delete_forever</md-icon>
            </md-button>
            <md-menu class="md-secondary"
                     md-position-mode="target-right target">
              <md-button aria-label="Open menu" class="md-icon-button"
                         ng-click="$mdMenu.open($event)">
                <md-icon class="material-icons lp-icon">more_vert</md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item hide-gt-xs>
                  <md-button ng-click='onExecute(item)'>
                    <md-icon class="material-icons">
                      play_circle_outline
                    </md-icon>
                    Execute
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-hide="!item.canDelete" hide-gt-xs>
                  <md-button ng-click='onDelete(item)'>
                    <md-icon class="material-icons">delete_forever</md-icon>
                    Delete
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-hide="!item.canCancel">
                  <md-button ng-click='onCancel(item)'>
                    <md-icon class="material-icons" style="color:red;">stop
                    </md-icon>
                    Cancel
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click='onOpenLogTail(item)'>
                    <md-icon class="material-icons">visibility</md-icon>
                    See logs tail
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-href="{{item.iri}}/logs" target="_blank">
                    <md-icon class="material-icons">visibility</md-icon>
                    See logs
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button
                    ng-href="{{item.iri}}/logs"
                    target="_blank"
                    download="{{item.label}}_{{item.start|date:'yyyy-MM-dd_HH-mm-ss'}}.log">
                    <md-icon class="material-icons">file_download</md-icon>
                    Download logs
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-divider></md-divider>
        </md-list>
        <div ng-show="repository.areDataReady && repository.isEmpty"
             layout="row" layout-align="center center" flex>
          <div style="padding-top: 5em">
            Why don't you <a href="#/pipelines">run a pipeline</a>?
          </div>
        </div>
      </div>
      <lp-scroll-watch-list-tail
        ng-show="repository.areDataReady"
        total="repository.filteredItemCount"
        limit="repository.visibleItemLimit"/>
    </md-content>
  </div>
</div>
