<md-dialog aria-label="Select pipeline"  ng-cloak flex="80">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>Insert pipeline</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="onCancel()">
                    <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:400px;">
            <div class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom md-selected="activeTab" ng-show="!importing">
                    <md-tab label="From URL">
                        <md-input-container class="md-block">
                            <label>URL (must start with http://)</label>
                            <input ng-model="url" ng-disabled="loading">
                        </md-input-container>
                    </md-tab>
                    <md-tab label="Direct Input">
                        <md-input-container class="md-block">
                            <label>Pipeline</label>
                            <textarea ng-model="text"></textarea>
                        </md-input-container>
                    </md-tab>
                    <md-tab label="Local Pipeline" md-on-select="onPipelineTab()" layout="column">
                        <md-input-container class="md-block">
                            <label>Filter</label>
                            <input ng-model="pipelineFilter"/>
                        </md-input-container>
                        <div ng-show="!repository.loaded" layout="row">
                            <span flex="50"/>
                            <img src="app/components/pipelines/listView/assets/img/loading.gif" class="center-block" title="Loading..."
                                 style="padding-top: 1em"/>
                        </div>
                        <md-radio-group ng-model="pipeline" ng-show="repository.loaded">
                            <md-radio-button ng-repeat="item in repository.data| filter:filterPipelines" ng-value="item.iri">
                                {{::item.label}}
                            </md-radio-button>
                        </md-radio-group>
                    </md-tab>
                </md-tabs>
                <div ng-show="importing">
                    <div>Importing pipeline ...</div><br/>
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="onCancel()">
                Don't import anything
            </md-button>
            <md-button ng-click="onImport()" ng-disabled="loading" class="md-primary">
                Import pipeline
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


