<div id="componentMenu" style="position:absolute;overflow:visible;width:0px;display:none;">
    <span class="topLine" style="position:relative;top:-60px;">
        <md-button class="md-fab md-mini" style="position:absolute;left:-30px;" aria-label="Edit" ng-click="api.onEditComponent()">
            <md-tooltip md-direction="top">Edit</md-tooltip>
            <md-icon md-menu-origin md-svg-src="edit"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" style="position:absolute;left:20px;" aria-label="Delete" ng-click="api.onDeleteComponent()">
            <md-tooltip md-direction="top">Delete</md-tooltip>
            <md-icon md-menu-origin md-svg-src="delete_forever"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" style="position:absolute;left:70px;" aria-label="Copy" ng-click="api.onCopyComponent()">
            <md-tooltip md-direction="top">Copy</md-tooltip>
            <md-icon md-menu-origin md-svg-src="copy"></md-icon>
        </md-button>
    </span>
    <span id="bottomBar" style="position:relative;">
        <md-button class="md-fab md-mini" style="position:absolute;left:-30px;top:55px;" aria-label="Prerequisity" ng-click="api.onPrerequisiteComponent()">
            <md-tooltip md-direction="bottom">Run before</md-tooltip>
            <md-icon md-menu-origin md-svg-src="timeline"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" style="position:absolute;left:20px;top:55px;" aria-label="Debug to" ng-click="api.onDebugToComponent()">
            <md-tooltip md-direction="bottom">Debug to this component</md-tooltip>
            <md-icon md-menu-origin md-svg-src="keyboard_tab"></md-icon>
        </md-button>
        <span id="mapping" style="display:none;">
            <md-button class="md-fab md-mini" style="position:absolute;left:70px;top:55px;" aria-label="Change mapping" ng-click="api.onMappingComponent()">
                <md-tooltip md-direction="bottom">Enable/disable mapping</md-tooltip>
                <md-icon md-menu-origin md-svg-src="autorenew"></md-icon>
            </md-button>
        </span>
    </span>
</div>

<div id="blankMenu" style="position:absolute;overflow:visible;width:0px;display:none;">
    <span style="position:relative;left:-25px;top:-70px;">
        <md-button class="md-fab md-mini" style="position:absolute;left:-40px;top:-20px;" ng-click="api.onAddComponent()">
            <md-tooltip md-direction="top">Insert component</md-tooltip>
            <md-icon md-menu-origin md-svg-src="edit"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" style="position:absolute;left:40px;top:-20px;" ng-click="api.onImportPipeline()">
            <md-tooltip md-direction="top">Insert pipeline</md-tooltip>
            <md-icon md-menu-origin md-svg-src="timeline"></md-icon>
        </md-button>
    </span>
</div>
