<md-dialog aria-label="Pipeline label"  ng-cloak flex="50">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>Pipeline detail</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="onCancel()">
                    <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container class="md-block" flex>
                        <label>URL</label>
                        <input ng-model="detail.uri" ng-readonly='true'>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Label</label>
                        <input ng-model="detail.label" md-autofocus>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="onCancel()" class="md-primary">
                DISCARD CHANGES
            </md-button>
            <md-button ng-click="onSave()" class="md-primary">
                SAVE CHANGES
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
